body {
    margin: 0px;
}








#container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    min-height: 100vh;
    box-shadow: inset 0px -20px 20px 1px #1d321d;

    background: linear-gradient(380deg, black, 5%, #72c077);
}

#box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 542px;
    width: 680px;
    border: solid 1px 0px 1px;
    border-radius: 30px 30px 20px 20px;
    box-shadow: inset 0px 20px 10px #e20000,
        inset 0px -8px 10px #340000,
        0px 10.5px 15px 5px #200000;
        
    background-color: #8a0000;
}

#shell {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 400px;
    width: 670px;
    border-radius: 26px 26px 0px 0px;

    background-color: #dc0000;
}

#screen-border {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 320px;
    width: 520px;
    border-top: solid 5px #bd0202;
    border-right: solid 2px white;
    border-left: solid 2px white;
    border-radius: 10px 10px 7px 7px;
    box-shadow: inset 1.5px 0px white,
        inset 0px -8px 10px #dc0000,
        inset -1.5px 0px white;

    background-color: #9a0000;
}

#screen {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 500px;
    border-top: solid 0.1px #292828;
    border-right: solid 0.1px rgba(41, 40, 40, 0.75);
    border-left: solid 0.1px rgba(41, 40, 40, 0.75);

    background-color: #cdcdcd
}

#inner-screen {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    box-shadow: 0px 10px 10px -5px #b30202,
        inset 0px 10px 10px -8px #121212,
        inset -8px 0px 10px -4px #343434,
        inset 8px 0px 10px -4px #343434;
    user-select: none;
    pointer-events: none;
}

/*THESE ARE THE ROWS...*/
#screen div {
    display: flex;
    height: 100%;
}

/*...AND THESE ARE THE LITTLE SQUARES INSIDE THE ROWS!!*/
#screen div div {
    width: 100%;
    box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.05) inset;
}

#knobs {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 130px;
    width: 670px;
    margin-bottom: 6px;
    border-radius: 0px 0px 18px 18px;

    background-color: #dc0000;
}

#central-left {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    margin-top: 2.5px;
    margin-left: -7px;
    margin-bottom: -3px;
    border-radius: 50px;

    background-color: #fff0f0;
}

#central-right {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    margin-top: 2.5px;
    margin-right: -7px;
    margin-bottom: -3px;
    border: solid 1px white;
    border-radius: 50px;

    background-color: #fff0f0;
}


#outer-left,
#outer-right {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 102px;
    width: 102px;
    margin-bottom: 8px;
    border: solid 1px #382929;
    border-radius: 50px;

    background-color: #bebebe;
}

#outer-left {
    margin-left: 20px;
    box-shadow: inset -2px 2px #a2a2a2,
                8px -1px 20px #382929;
}

#outer-right {
    margin-right: 20px;
    box-shadow: inset 2px 2px #a2a2a2,
                -8px -1px 20px #382929;

}

#inner-left,
#inner-right {
    height: 85px;
    width: 85px;
    border-radius: 50px;

    background-color: #f3f3f3;
}

#inner-left {
    margin-bottom: -2px;
    margin-left: -2px;
    box-shadow: inset 3px 3px 10px 0px #cecece;
}

#inner-right {
    margin-bottom: -2px;
    margin-right: -2px;
    box-shadow: inset -3px 3px 10px #cecece;
}








button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    width: 215px;
    border: 2px solid;
    border-bottom: 4px solid;
    padding: 30px;
    border-radius: 20px;
    font-size: 20px;
    font-family: 'Comic Sans MS', 'Comic Sans', cursive;

    box-shadow: 0px 5px 10px #263c26;

    transition: all 0.1s;
}

.hover-style {
    box-shadow: 0px 15px 25px -5px #263c26;
    transform: scale(1.03);
}

.click-style {
    box-shadow: 0px 4px 8px #263c26;
    transform: scale(.98);
}








#popup {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    transform: scale(0.001);
    visibility: hidden;
    height: 300px;
    width: 840px;
    border: 1px solid;
    border-radius: 40px;
    box-shadow: inset 0px 0px 15px #263c26;

    background-color: #72c077;
}